body {
  background-color: #e5e5e5;
  margin: 0;
}

.home-page {
  background-color: #fff;
  border-radius: 0 0 0 5%;
}

.hamburger {
  width: 45px;
  height: 30px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

/* #nav {
  display: flex;
} */

.internal-link {
  display: none;
}

.home_presentation {
  background-image:
    url("./images/Ellipse 11.png"),
    url("./images/Rectangle 4.png"),
    url("./images/Ellipse\ 3.png"),
    url("./images/Ellipse\ 8.png"),
    url("./images/Ellipse\ 5.png"),
    url("./images/Rectangle\ 7.png"),
    url("./images/Ellipse 12.png"),
    url("./images/Ellipse 4.png"),
    url("./images/Rectangle\ 5.png"),
    url("./images/Ellipse\ 13.png"),
    url(".images/Ellipse\ 15.png");
  background-position:
    19px 79px,
    294px 68px,
    323px 102px,
    214px 110px,
    125px 106px,
    127px 98px,
    370px 385px,
    290px 509px,
    240px 507px,
    357px 392px,
    106px 497px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
}

.short-presentation {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #172b4d;
  line-height: 52px;
  text-align: start;
  margin: 0 24px;
}

.home_presentation p {
  font-family: Poppins, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 12px 24px 0 24px;
}

.contact ul {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-left: 24px;
}

.icon {
  list-style-type: none;
  margin-right: 20px;
}

.project {
  background-color: #fff;
  border-radius: 2.5%;
  margin-bottom: 10vh;
}

h3 {
  margin-top: 12px;
  margin-bottom: 0;
  font-family: Poppins, sans-serif;
  line-height: 44px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #7f8cff;
  margin-left: 24px;
}

/* footer h3:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #23a3fa;
} */

.logo {
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #6070ff;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 24px;
  margin-top: 20px;
  width: 25%;
  margin-right: 60%;
}


@media screen and (min-width: 1024px) {
  .contact textarea {
    width: 309px;
    height: 100px;
  }

  .bottom-bar { display: none; }

  .wrap .contact button {
    align-self: center;
    padding: 10px;
  }

  .contact {
    justify-content: center;
    align-items: center;
  }

  .wrap .contact-parag { margin-bottom: 20px; }

  .contact-title { margin-bottom: 0; }

  /* #nav {
    margin-top: 0;
    margin-right: 10.69%;
    margin-left: 10.76%;
  } */

  /* #nav nav {
    display: none;
  } */

  .internal-link {
    display: flex;
    justify-content: space-between;
    min-width: 190px;
    margin-top: 30px;
  }

  .internal-link li {
    list-style: none;
  }

  .internal-link li a {
    text-decoration: none;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .home_presentation {
    height: 916px;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 200px;
    justify-content: center;
    background-image: none;
  }

}

